<form action="/create" method="post">

  <label for="new_file_input"> Add a new document: </label>
  <div>
    <input id="new_file_name" name="new_file_name" />
    <button type="submit">create</button>
  </div>
</form>